.footer
    margin: 170px 0 140px 0
    width: 100%
    display: grid
    justify-content: center
    .container
        width: 1440px
        display: block
        .top
            display: grid
            grid-template-columns: auto auto
            .leftSide
                display: grid
                grid-gap: 14px
                .logo
                p
                    font-size: 26px
                    width: 530px
                    color: rgba(var(--dark-rgb), .6)
                .email
                    display: grid
                    grid-template-columns: auto 1fr
                    font-size: 21px
                    align-items: center
                    grid-gap: 8px
                    .emoji
                        font-size: 32px
            .rightSide
                width: 100%
                .nav
                    display: grid
                    grid-template-columns: auto auto auto
                    grid-gap: 130px
                    ul
                        list-style: none
                        display: grid
                        align-content: start
                        justify-content: end
                        grid-gap: 10px
                        li
                            font-size: 24px
                            font-weight: 500
                            color: rgba(var(--dark-rgb), 1)
                            a
                                color: rgba(var(--dark-rgb), .75)
                                text-decoration: none
                                font-weight: 400
                            .more
                                color: rgba(var(--dark-rgb), .4)
                                border-bottom: 1px solid rgba(var(--dark-rgb), .4)
        .bottom
            margin-top: 150px
            display: grid
            grid-template-columns: 1fr auto
            font-weight: 300
            color: rgba(var(--dark-rgb), .6)
            font-size: 18px
            span
                p
                    display: inline-block
            a
                color: rgba(var(--dark-rgb), .6)
                text-decoration: none
                &:hover
                    text-decoration: underline

@media (max-width: 1500px)
    .footer
        width: 100%
        margin: 150px 0 80px 0
        .container
            width: 93vw

@media (max-width: 1440px)
    .footer
        margin: 150px 0 80px 0
        .container
            width: 93vw
            .top
                grid-template-columns: 1fr auto
                grid-gap: 40px
                .leftSide
                    grid-gap: 14px
                    p
                        font-size: 24px
                        width: 100%
                        color: rgba(var(--dark-rgb), .6)
                    .email
                        font-size: 20px
                        .emoji
                            font-size: 28px
                .rightSide
                    .nav
                        display: grid
                        grid-template-columns: auto auto auto
                        grid-gap: 80px


@media (max-width: 1000px)
    .footer
        margin: 120px 0 80px 0
        .container
            width: 93vw
            .top
                grid-template-columns: 1fr auto
                grid-gap: 40px
                .leftSide
                    grid-gap: 14px
                    p
                        font-size: 20px
                        width: 100%
                        color: rgba(var(--dark-rgb), .6)
                .rightSide
                    .nav
                        grid-template-columns: auto auto auto
                        grid-gap: 80px
                        ul
                            li
                                font-size: 20px

@media (max-width: 820px)
    .footer
        margin: 120px 0 80px 0
        .container
            width: 93vw
            .top
                grid-template-columns: 1fr
                grid-gap: 100px
                .leftSide
                    grid-gap: 14px
                    justify-items: center
                    p
                        font-size: 20px
                        text-align: center
                        width: 500px
                        color: rgba(var(--dark-rgb), .6)
                .rightSide
                    .nav
                        grid-template-columns: auto auto auto
                        grid-gap: 80px
                        ul
                            justify-content: space-between
                            li
                                font-size: 20px
            .bottom
                margin-top: 100px

@media (max-width: 550px)
    .footer
        margin: 100px 0 60px 0
        .container
            .top
                grid-gap: 80px
                .leftSide
                    justify-items: start
                    p
                        width: 100%
                        text-align: left
                        color: rgba(var(--dark-rgb), .6)
                .rightSide
                    .nav
                        grid-template-columns: auto auto auto
                        grid-gap: auto
                        justify-content: space-between
                        ul
                            justify-content: space-between
                            li
                                font-size: 20px
            .bottom
                margin-top: 90px

@media (max-width: 520px)
    .footer
        margin: 100px 0 60px 0
        .container
            .top
                grid-gap: 80px
                .leftSide
                    p
                        font-size: 20px
                        width: 100%
                        color: rgba(var(--dark-rgb), .6)
                .rightSide
                    .nav
                        grid-template-columns: 1fr 1fr
                        grid-gap: 30px
                        ul
                            justify-content: space-between
                            li
                                font-size: 24px
            .bottom
                margin-top: 100px
                align-items: end
                span
                    p
                        display: block