.motivation
    width: 100%
    display: grid
    padding: 300px 0
    justify-content: center
    background: #5B43BD
    .container
        width: 1440px
        display: grid
        align-content: center
        justify-items: center
        h2
            font-family: 'Sora', sans-serif
            font-weight: 400
            font-size: 86px
            line-height: 130%
            width: 100%
            margin: 0
            padding: 0
            text-align: center
            margin-top: 50px
            color: #FFFFFF
            
        .button
            background: #fff
            color: #5B43BD
            text-decoration: none
            padding: 27px 47px
            border-radius: 999px
            font-size: 29px
            margin-top: 50px
            height: 40px
            text-align: center
            display: grid
            align-content: center